@import './base.css';


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }


}


*{
  font-family: 'Poppins', sans-serif;
}

input:focus{
outline: none;
}

.big-wrapper{
  min-height: 100vh;
  width: 100vw;

}
.flex-center-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-center-column-top{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.classic-input{
  font-size: 30px;
  padding: 0 20px;
  background-color: #06D6A0;
  border-radius: 2000px;
  border: none;
  margin: 30px;
}

.classic-input:hover{
  opacity: 0.6;
  cursor: pointer;
}

.text-input{
  font-size: 34px;
}

#main-title{
  font-size: 100px;
  text-align: center;
}
.small-title{
  font-size: 50px;
  text-align: center;
}
.classic-text{
  font-size: 20px;
}

@media only screen and (max-width: 600px) {

.text-input{
  width: 80vw;
}

.small-title{
  font-size: 8vw;
  text-align: center;
}

} 